@mixin html-light {
  background-color: $color-light-bg;

  &::before {
    background-image: radial-gradient(
      circle farthest-corner at top center,
      $color-light-gradient-light 50%,
      $color-light-gradient-dark 100%
    );
  }
}

@mixin html-dark {
  background-color: $color-dark-bg;

  &::before {
    background-image: radial-gradient(
      circle farthest-corner at top center,
      $color-dark-gradient-light 50%,
      $color-dark-gradient-dark 100%
    );
  }
}

html {
  &::before {
    content: "";
    pointer-events: none;
    z-index: -1;
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
  }

  @include html-light;

  &.inverse-mode {
    @include html-dark;
  }

  @media (prefers-color-scheme: dark) {
    @include html-dark;

    &.inverse-mode {
      @include html-light;
    }
  }
}

body {
  color: $color-light-text;

  .inverse-mode & {
    color: $color-dark-text;
  }

  @media (prefers-color-scheme: dark) {
    color: $color-dark-text;

    .inverse-mode & {
      color: $color-light-text;
    }
  }
}

header,
main,
section {
  border-color: $color-light-border;

  .inverse-mode & {
    border-color: $color-dark-border;
  }

  @media (prefers-color-scheme: dark) {
    border-color: $color-dark-border;

    .inverse-mode & {
      border-color: $color-light-border;
    }
  }
}

header {
  .stripe {
    background: linear-gradient(
      to bottom,
      rgba(#003b89, 0.1),
      rgba(#003b89, 0.25)
    );

    .inverse-mode & {
      background: linear-gradient(
        to bottom,
        rgba(#336699, 0.1),
        rgba(#336699, 0.25)
      );
    }

    @media (prefers-color-scheme: dark) {
      background: linear-gradient(
        to bottom,
        rgba(#336699, 0.1),
        rgba(#336699, 0.25)
      );

      .inverse-mode & {
        background: linear-gradient(
          to bottom,
          rgba(#003b89, 0.1),
          rgba(#003b89, 0.25)
        );
      }
    }
  }
}

footer {
  .stripe {
    background: linear-gradient(
      to top,
      rgba(#003b89, 0.1),
      rgba(#003b89, 0.25)
    );

    .inverse-mode & {
      background: linear-gradient(
        to top,
        rgba(#336699, 0.1),
        rgba(#336699, 0.25)
      );
    }

    @media (prefers-color-scheme: dark) {
      background: linear-gradient(
        to top,
        rgba(#336699, 0.1),
        rgba(#336699, 0.25)
      );

      .inverse-mode & {
        background: linear-gradient(
          to top,
          rgba(#003b89, 0.1),
          rgba(#003b89, 0.25)
        );
      }
    }
  }
}

a,
button {
  color: $color-light-link;

  &::after {
    color: $color-light-arrow;
  }

  .inverse-mode & {
    color: $color-dark-link;

    &::after {
      color: $color-dark-arrow;
    }
  }

  @media (prefers-color-scheme: dark) {
    color: $color-dark-link;

    &::after {
      color: $color-dark-arrow;
    }

    .inverse-mode & {
      color: $color-light-link;

      &::after {
        color: $color-light-arrow;
      }
    }
  }
}

h1 {
  color: $color-light-h1;

  .inverse-mode & {
    color: $color-dark-h1;
  }

  @media (prefers-color-scheme: dark) {
    color: $color-dark-h1;

    .inverse-mode & {
      color: $color-light-h1;
    }
  }
}

h2 {
  color: $color-light-h1;

  .inverse-mode & {
    color: $color-dark-h1;
  }

  @media (prefers-color-scheme: dark) {
    color: $color-dark-h1;

    .inverse-mode & {
      color: $color-light-h1;
    }
  }
}

h2 {
  color: $color-light-h2;

  .inverse-mode & {
    color: $color-dark-h2;
  }

  @media (prefers-color-scheme: dark) {
    color: $color-dark-h2;

    .inverse-mode & {
      color: $color-light-h2;
    }
  }
}

ul.bullet {
  > li {
    &::before {
      color: $color-light-bullet;

      .inverse-mode & {
        color: $color-dark-bullet;
      }

      @media (prefers-color-scheme: dark) {
        color: $color-dark-bullet;

        .inverse-mode & {
          color: $color-light-bullet;
        }
      }
    }
  }
}

.date {
  color: $color-light-date;

  .inverse-mode & {
    color: $color-dark-date;
  }

  @media (prefers-color-scheme: dark) {
    color: $color-dark-date;

    .inverse-mode & {
      color: $color-light-date;
    }
  }
}
