@media screen {
  .dom-x-ray {
    &,
    &:before,
    &:after,
    *,
    *:before,
    *:after {
      color: rgba(hotpink, 1) !important;
      border-color: rgba(hotpink, 1) !important;
      background-color: rgba(lightskyblue, 0.03) !important;
      outline: 1px solid rgba(hotpink, 0.25) !important;
    }

    img {
      opacity: 0.8 !important;
      outline: 1px solid rgba(hotpink, 0.25) !important;
    }
  }
}
