*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  min-width: $body-min-width;
  max-width: $body-max-width;
  margin: auto;
}

article {
  padding: 2em;
  margin: 0 auto;

  @media (min-width: $breakpoint-2-column) {
    padding: 4em;
  }
}

header {
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: 1fr;
  align-items: end;
  padding: 4em 0 2em;
  border-top-style: solid;
  border-top-width: 0.75em;

  @media (min-width: $breakpoint-2-column) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $breakpoint-4-column) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

main {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr;

  @media (min-width: $breakpoint-2-column) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: $breakpoint-4-column) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

section {
  padding: 2em 0;
  border-top-style: solid;
  border-top-width: 0.25em;

  @supports (display: grid) {
    padding-bottom: 0;
  }
}
