*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  min-width: $body-min-width;
  max-width: $body-max-width;
  margin: auto;
}

article {
  margin: 0 auto;
  padding: 0 $article-padding-base;

  @media (min-width: $breakpoint-2-column) {
    padding: 0 $article-padding-large;
  }
}

header,
section,
footer {
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: 1fr;

  @media (min-width: $breakpoint-2-column) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $breakpoint-4-column) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: $breakpoint-5-column) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

header {
  grid-row-gap: 1em;
  align-items: end;
  padding-bottom: 2em;

  .stripe {
    height: 8em;
  }

  .title {
    padding-top: 1em;
  }

  @media (min-width: $breakpoint-2-column) {
    .title {
      grid-row-start: 2;
    }

    .blurb {
      grid-row-start: 2;
      grid-column-start: 2;
    }
  }

  @media (min-width: $breakpoint-4-column) {
    .blurb {
      grid-column-end: 4;
    }

    .website-url {
      grid-row-start: 2;
      grid-column-start: 4;
    }
  }

  @media (min-width: $breakpoint-5-column) {
    .blurb {
      grid-column-end: 5;
    }

    .website-url {
      grid-column-start: 5;
    }
  }
}

main {
  display: grid;
  grid-gap: 2em;
  padding-bottom: 4em;
}

section {
  grid-row-gap: 1.25em;
  padding-top: 2em;
  border-top-style: solid;
  border-top-width: $section-border-width;

  @media (min-width: $breakpoint-2-column) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $breakpoint-4-column) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: $breakpoint-5-column) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 2em 0 0;
  }

  h2 {
    grid-column-start: 1;
    grid-column-end: 2;

    @media (min-width: $breakpoint-2-column) {
      grid-column-end: 3;
    }

    @media (min-width: $breakpoint-4-column) {
      grid-column-end: 5;
    }

    @media (min-width: $breakpoint-5-column) {
      grid-column-end: 1;
    }
  }
}

footer {
  .stripe {
    height: 12em;
  }
}
