a,
button {
  &::after {
    pointer-events: none;
    display: inline;
    position: absolute;
    font-weight: 400;
    opacity: 0;
    transition: opacity 0.1s $easing-accelerate,
      transform 0.1s $easing-accelerate;
  }

  &:focus {
    &::after {
      opacity: 1;
      transform: translateX(0.3em);
      transition: opacity 0.1s $easing-decelerate,
        transform 0.1s $easing-decelerate;
    }
  }

  @media (hover: hover) {
    &:hover {
      &::after {
        opacity: 1;
        transform: translateX(0.3em);
        transition: opacity 0.1s $easing-decelerate,
          transform 0.1s $easing-decelerate;
      }
    }
  }
}

a {
  @media (hover: hover) {
    &::after {
      content: "\2192";
    }
  }
}

button {
  cursor: pointer;

  @media (hover: hover) {
    &::after {
      content: "#";
    }
  }
}
