html {
  text-size-adjust: 100%;
}

body {
  font-family: $font-family;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-base;
  font-size: $font-size-base;

  @media (min-width: $breakpoint-2-column) {
    font-size: $font-size-2-col;
  }

  @media (min-width: $breakpoint-4-column) {
    font-size: $font-size-4-col;
  }

  @media (min-width: $breakpoint-5-column) {
    font-size: $font-size-5-col;
  }
}

p,
li {
  max-width: $type-max-width-base;
}

p {
  + p,
  + h3 {
    margin-top: $type-margin-bottom;
  }
}

ul.bullet {
  list-style: none;

  > li {
    &::before {
      content: "\2022";
      display: inline-block;
      width: 1em;
    }
  }
}

a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-weight: $font-weight-link;
  text-decoration: none;
}

button {
  display: inline;
  appearance: none;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
}

h1 {
  font-size: $font-size-h1;
  line-height: $line-height-h1;
  font-weight: $font-weight-h1;
}

h2 {
  font-size: $font-size-h2;
  line-height: $line-height-h2;
  font-weight: $font-weight-h2;
}

h3 {
  font-size: $font-size-h3;
  line-height: $line-height-h3;
  font-weight: $font-weight-h3;

  a {
    font-weight: inherit;
  }
}

.date {
  font-size: $font-size-date;
  line-height: $line-height-date;
  font-weight: $font-weight-date;
  letter-spacing: $letter-spacing-date;
  text-transform: uppercase;
  margin-top: 0;
}

.no-wrap {
  white-space: nowrap;
}
