html {
  text-size-adjust: 100%;
  color: $color-black;
  background-color: white;
  transition: color 0.5s ease, background-color 1s ease;

  &.inverse-mode {
    color: white;
    background-color: $color-black;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color: white;
    background-color: $color-black;

    &.inverse-mode {
      color: $color-black;
      background-color: white;
    }
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: $font-size-base;
}

p,
li {
  &:not(:last-child) {
    margin-bottom: 1.5em;
  }

  main & {
    max-width: 16em;
  }

  header &,
  &.position,
  &.college {
    margin-bottom: 0;
  }
}

ul.bullet {
  list-style: disc;
  list-style-position: inside;
  margin-bottom: 1.5em;

  > li {
    margin-bottom: 0;
  }
}

a {
  position: relative;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

h1 {
  font-size: 3em;
  line-height: 1;
  font-weight: 600;
  letter-spacing: -0.025em;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1em;
}

h3 {
  font-size: 1em;
  font-weight: 600;
}

.date {
  font-size: 0.75em;
  line-height: 2;
  text-transform: uppercase;
}

.no-wrap {
  white-space: nowrap;
}
