$font-size-base: 16px;
$font-size-small: 14px;

$color-almost-black: #111111;
$color-darker-grey: #333333;
$color-dark-grey: #666666;
$color-medium-grey: #999999;
$color-light-grey: #CCCCCC;
$color-lighter-grey: #D8D8D8;
$color-almost-white: #F8F8F8;

$color-primary-blue: #3388BB;
